body {
    margin: 0;
    padding: 0;
    background-color: #1f1f1f;
    font-family: Tahoma, Verdana, sans-serif;
    font-weight: 700;
}

.topper {
    background-color: #343434;
    width: 100vw;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: left;

    color: white;
}

.topper h1 {
    transform: translate(30px, 0);
}

.subtopper {
    background-color: #3b3b3b;
    width: 100vw;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;
}

.MainB {
    width: 125px;
    height: 30px;
    font-size: 15px;

    background: none;
    color: white;
    border: none;

    cursor: pointer;

    transition: 0.2s;
}

.MainB:hover {
    background-color: #4a4a4a;
    transform: scale(1.1);
}

.gametemplate {
  display: none;
}

.gameobject {
    background: none;
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 15px;
    cursor: pointer;
}

.gameobject .gameimage {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.2s;
}

.gameobject h1 {
    width: 200px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin: 0;
    color: white;
    text-align: center;
    font-size: 25px;

    opacity: 0;
    transition: 0.2s;
}

.gameobject:hover h1 {
    opacity: 1;
}

.gameobject:hover .gameimage {
    filter: brightness(50%);
}


#gameholder {
  background: none;
  width: 100vw;
  min-height: 75vh;
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 30px;
}

.gameplayer {
    display: block;
    width: 85vw;
    height: 85vh;
    margin: auto;
    border: none;
}

.imgbutton{
    width: 50px;
    height: 50px;
}

.bottombuttons{
    width: 85vw;
    height:70px;
}
